{{- if .Values.namespace.create }}
apiVersion: v1
kind: Namespace
metadata:
  name: {{ .Values.namespace.name }}
  labels:
    {{- include "galaxy-bce.labels" . | nindent 4 }}
    environment: {{ .Values.environment }}
{{- end }}
