apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: galaxy-bce-hpa
  namespace: galaxy-bce-prod
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: galaxy-bce
  minReplicas: 1
  maxReplicas: 5
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 50
